.contenedor{
	width: 100%;
	display: flex;
	padding: 0px;
	flex-direction: column;
}

.containerZonas{
	width: 75%;
	height: 85vh;
	background-color: #eee;
	overflow: scroll;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}

.mapa{
	width: 600px;
	height: 85vh;
	background-color: #eee;
	overflow: hidden;
}

.superior{
	width: 100%;
	height: 50px;
	background-color: grey;
	padding: 0px 0px 0px 20px;
	display: flex;
}
.contenido{
	display: flex;
	flex-direction: row;
}

button{
	margin: 10px 0px;
	padding: 3px 10px;
}

.filtros{
	display: flex;
	width: 40%;
	justify-content: space-between;
	padding-bottom: 5px;
}

.zona{
	width: 30%;
	display: flex;
	margin: 1em 0 !important;
	height: 230px !important;
}

p{
	margin-top: 13px;
}




form{
	display: flex;
	flex-direction: column;
	padding: 40px;
}


input{
	margin: 10px 0px;
	padding: 10px;
	border: none;
	border-bottom: 1px solid #eee;

}
.fa-plus{
	color: green;

}

.fa-minus{
	color: red;
}















.activarMapa{
	width: 60%;
	display: flex;
	justify-content: flex-end;
	padding-right: 20px;
}
.switch{
	margin-left: 10px;
	margin-top: 15px;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 15px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 4px;
  bottom: -5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.card{
	width: 30%;
	margin-top: 0px;
}


.content{
	padding: 10px 10px !important;
	flex-grow: 0 !important;
	height: auto !important;
}
.description img{
	width: 100%;
	height: 150px;
}