<div class="contenedor">
	<div class="superior" *ngIf="ngRedux.getState().token != ''">
		<div class="filtros">
			<button type="button" class="btn btn-light" data-toggle="modal" data-target=".bd-example-modal-lg">Añadir zona</button>

		</div>	
		
	</div>
	<div class="contenido">
		<div class="containerZonas">

			<div class="ui card zona" *ngFor="let zona of listaZonas; let index = index" (click)="irAZona(zona.id)">
				<div class="content">
					<i class="right floated star icon"></i>
					<div class="header">{{zona.nombre}} </div>
					<div class="description">
						<img [src]="'http://localhost:3000/images/'+(zona.imagenes.split(',')[0])" alt="">
					</div>
				</div>
				<div class="extra content">
					<span class="left floated like">
						<i class="like icon"></i>
						Me gusta
					</span>
					
				</div>
				
			</div>



		</div>
		<div class="mapa">
			<iframe width="100%" height="700" src="https://maps.google.com/maps?width=100%&height=600&hl=es&q=san%20jose%20obrero%2C%20zamora+(Mi%20nombre%20de%20egocios)&ie=UTF8&t=&z=17&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.mapsdirections.info/crear-un-mapa-de-google/">Crear Google Map</a> by <a href="https://www.mapsdirections.info/">Mapa España</a></iframe>
		</div>
	</div>
</div>


<!-- Large modal -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form [formGroup]="formularioZona" (ngSubmit)="handleOnSubmit()">
				<input type="text" formControlName="nombre" placeholder="Nombre de la zona">
				<div *ngIf="!formularioZona.controls.nombre.valid && formularioZona.controls.nombre.dirty ">Error</div>
				<input type="text" formControlName="direccion" placeholder="Direccion">
				<input type="text" formControlName="barrio" placeholder="Barrio">
				<input type="text" formControlName="ciudad" placeholder="Ciudad">
				
				<span *ngFor="let elemento of listaImagenesFormulario; let index = index;" >
					<input type="file" (change)="onFileChange($event)" accept="image/*" value="Elige la imagen" class="imagenes{{index}}">
					<!-- <div>
						<i *ngIf="index == listaImagenesFormulario.length-1" class="fas fa-plus" (click)=addImagen(index)></i>
						<i *ngIf="index != listaImagenesFormulario.length-1" class="fas fa-minus" (click)="dropImagen(index)"></i>
					</div> -->


				</span>
				<label>Imagenes</label>
				<button type="submit" class="btn btn-outline-success" [disabled]="!formularioZona.valid">Enviar</button>

			</form>



		</div>
	</div>
</div>