<div class="contenedorUser">

	<div class="panel">
		<div class="control">
			<section>
				<div class="informacion">
					<div class="imagen"></div>
					<div class="info"><h2>Alias</h2>
						<h4>datos personales</h4>
						<h3>Informacion</h3></div>
					</div>
					<hr>
					<div class="password">
						<p>

							<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
								Cambiar contraseña
							</button>
							

						</p>
						<div class="collapse" id="collapseExample">
							<form>
								<input class="form-control mr-sm-2" type="password" placeholder="Contraseña Actual" aria-label="Search">
								<input class="form-control mr-sm-2" type="password" placeholder="Nueva contraseña" aria-label="Search">
								<input class="form-control mr-sm-2" type="password" placeholder="Repite la nueva contraseña" aria-label="Search">
								<button type="button" class="btn btn-success">Confirmar</button>
							</form>
						</div>
					</div>
				</section>
				<section class="controlZonas">
					
					<div class="zonasOptions" data-toggle="collapse" data-target="#collapseZona" aria-expanded="false" aria-controls="collapseZona">
						<h3>Ver mis zonas</h3>
						<i class="fas fa-chevron-down"  ></i>	
					</div>	
					<div class="collapse row" id="collapseZona">
						<hr>

						<div class="ui card zona col-lg-4 col-md-6 col-sm-12 " *ngFor="let carta of [1,2,3,4,5,6,7,8]; let index = index" >
							<div class="content">
								<span class="right floated "  data-toggle="modal" data-target=".bd-example-modal-lg">
									<i class="fas fa-cogs"></i>
									Editar zona
								</span>
								<div class="header">Zona {{index+1}} </div>
								<div class="description">


								</div>
							</div>
							<div class="extra content">
								<span class="left floated ">
									<i class="like icon"></i>
									X - Me gusta
								</span>
								<span class="right floated ">
									<i class="star icon"></i>
									X - Favoritos
								</span>
							</div>
						</div>



					</div>
					
				</section>
				<section class="borrarPerfil">
					<button type="button" class="btn btn-outline-danger">¿Quieres borrar tu cuenta? <i class="far fa-frown"></i></button>

				</section >

				


			</div>


		</div>
	</div>




<!-- Large modal -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form [formGroup]="formularioZona" (ngSubmit)="handleOnSubmit()">
				<input type="text" formControlName="nombre" placeholder="Nombre de la zona">
				<div *ngIf="!formularioZona.controls.nombre.valid && formularioZona.controls.nombre.dirty ">Error</div>
				<input type="text" formControlName="direccion" placeholder="Direccion">
				<input type="text" formControlName="barrio" placeholder="Barrio">
				<input type="text" formControlName="ciudad" placeholder="Ciudad">
				
				<span *ngFor="let elemento of listaImagenesFormulario; let index = index;" >
					<input type="file" accept="image/*" value="Elige la imagen" class="imagenes{{index}}">
					<div>
						<i *ngIf="index == listaImagenesFormulario.length-1" class="fas fa-plus" (click)="addImagen()"></i>
						<i *ngIf="index != listaImagenesFormulario.length-1" class="fas fa-minus" (click)="dropImagen(index)"></i>
					</div>


				</span>
				<label>Imagenes</label>
				<button type="submit" class="btn btn-outline-success" [disabled]="!formularioZona.valid">Enviar</button>

			</form>
	


		</div>
	</div>
</div>
