<div class="container">
	<div class="formulario">
		<div class="tituloRegistro"><h2>Login</h2></div>
		<form action="" [formGroup]="formularioLogin" (ngSubmit)="loginSubmit()">
			
			<input class="input" type="text" placeholder="Alias" formControlName="alias" />
			
			<input class="input" type="password" placeholder="Contraseña" formControlName="password" />
			<label *ngIf="error == 'error'" class="error">El usuario o la contraseña no existe</label> <br>
			<button type="submit" class="btn btn-dark">Entrar</button>

		</form>
	</div>
</div>