<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
	<ol class="carousel-indicators">
		<li data-target="#carouselExampleIndicators"  *ngFor="let imagen of imagenes; let index = index" [ngClass]="{ 'active': index === 0}" data-slide-to="index"></li>
		
	</ol>
	<div class="carousel-inner">
		<div *ngFor="let imagen of imagenes;let index = index;" [ngClass]="{'carousel-item': true, 'active': index === 0}">
			<img class="d-block w-100" src="../../assets/images/{{imagen.src}}" alt="First slide">
		</div>
		
	</div>

	<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>



