<header>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="logo">
			<a class="navbar-brand" [routerLink]="['/main']"><img src="../../assets/images/logo.png" alt=""></a>
			
		
		</div>

		<div class="busqueda">

			
			<input type="text" placeholder="&#xF002; Buscar Zona" style="font-family:Arial, FontAwesome"  (change)="busquedaCiudad($event.target.value)"/>
		</div>


		<div class="login">
			<div class="formulario">
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="text" placeholder="Alias" aria-label="Search">
					<input class="form-control mr-sm-2" type="password" placeholder="Contraseña" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Enviar</button>
				</form>
				<div class="opciones">
					<label><input type="checkbox" id="cbox1" value="first_checkbox"> Mantener sesión iniciada</label> <br>
					<a [routerLink]="['/register']">¿Quieres registrarte?</a>

				</div>
			</div>
			<div class="enlaces">
				<a [routerLink]="['/register']"><h4>Registrate</h4></a>
				<a [routerLink]="['/login']"><h4>Login</h4></a>
			</div>
		</div>
		
	</nav>
</header>

