.jumbotron{
	padding: 0;
	height: 500px;
	position: relative;
}

.fondo{
	overflow: hidden;
	position: relative;
	opacity: 0.3;
}

.fondo img{

	width: 100%;
	height: 500px;
}

.contenedor{
	height: 500px;
	position: absolute;
	top: 0;
	left:20%;
	text-align: center;

}

.fav{
	position: absolute;
	top: 5px;
	right: 0;
	width: 100px;
}

.share{
	position: absolute;
	top: 5px;
	right: 105px;
}

.fotos{
	position: relative;
	bottom: 50px;
	left: 5px;
}

img{
	height: 500px;
}

.fav:hover i{
	transition-duration: 0.5s;
	color: red;
}

.container{
	
}

.comentario{
	display: flex;
	border: 1px solid #eee;
	padding: 10px;
}
.foto{
	background-color: black;
	border-radius: 50%;
	width: 70px;
	height: 70px;
}
.info{
	text-align: center;
}
.texto{

	padding: 30px;

}

iframe{
	margin-top: -280px;
}



@media (max-width: 991px){
	iframe{
		margin-top: 10px;
	}
}





