<slider></slider>
<div class="contaainer flex">
		
	<div class="seccion">
		<div class="hover">
			<p>			Lorem ipsum dolor sit amet,</p> 
			<p>			Lorem ipsum dolor sit amet,</p> 
		</div>
	</div>
	<div class="seccion">
		<div class="hover">
			<p>			Lorem ipsum dolor sit amet,</p> 
			<p>			Lorem ipsum dolor sit amet,</p> 
		</div>
	</div>
	<div class="seccion">
		<div class="hover">
			<p>			Lorem ipsum dolor sit amet,</p> 
			<p>			Lorem ipsum dolor sit amet,</p> 
		</div>
	</div>
	<div class="seccion">
		<div class="hover">
			<p>			Lorem ipsum dolor sit amet,</p> 
			<p>			Lorem ipsum dolor sit amet,</p> 
		</div>
	</div>
	<div class="seccion">
		<div class="hover">
			<p>			Lorem ipsum dolor sit amet,</p> 
			<p>			Lorem ipsum dolor sit amet,</p> <p>			Lorem ipsum dolor sit amet,</p> 
			<p>			Lorem ipsum dolor sit amet,</p> 
			<p>			Lorem ipsum dolor sit amet,</p> 
			<p>			Lorem ipsum dolor sit amet,</p> 
		</div>
	</div>
	<div class="seccion">
		<div class="hover">
			<p>			Lorem ipsum dolor sit amet,</p> 
			<p>			Lorem ipsum dolor sit amet,</p> 
		</div>
	</div>
	<div class="seccion">
		<div class="hover">
			
			<p>			Lorem ipsum dolor sit amet,</p> 
			<p>			Lorem ipsum dolor sit amet,</p> <p>			Lorem ipsum dolor sit amet,</p> 
			<p>			Lorem ipsum dolor sit amet,</p> 
		</div>
	</div>
	<div class="seccion">
		<div class="hover">
			<p>			Lorem ipsum dolor sit amet,</p> 
			<p>			Lorem ipsum dolor sit amet,</p> <p>			Lorem ipsum dolor sit amet,</p> 
		</div>
	</div>
	<div class="seccion">
		<div class="hover">
						<p>			Lorem ipsum dolor sit amet,</p> 
		</div>
	</div>



</div>