<div class="contenedor">
	<div class="superior">
		<div class="filtros">
			<button type="button" class="btn btn-light" *ngFor="let boton of [1,2,3,4,5,6]">Light</button>

		</div>	
		<div class="activarMapa">
			<p>Activar Mapa</p>
			<label class="switch">
				<input type="checkbox">
				<span class="slider round"></span>
			</label>
		</div>	
	</div>
	<div class="contenido">
		<div class="containerZonas">

			<div class="zonas">

			</div>
		</div>
		<div class="mapa">

		</div>
	</div>
</div>