<div class="container">
	<div class="formulario">
		<div class="tituloRegistro"><h2>Registro</h2></div>
		<form action="">
			<input class="input" type="text" placeholder="Nombre" />
			<input class="input" type="text" placeholder="Apellido" />
			<input class="input" type="text" placeholder="Alias" />
			<input class="input" type="text" placeholder="Email" />
			<input class="input" type="password" placeholder="Contraseña" />
			<input class="input" type="password" placeholder="Repite la contraseña" />
			<button type="submit" class="btn btn-dark">Enviar</button>

		</form>
	</div>
</div>